
body{
    font-family: 'Calibri', sans-serif;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    background-color: #79757500;
}

.lista-container{
    max-height: 600px;
    overflow-y: auto;
    overflow-x: auto;
    overflow: auto;
}


a {
    text-decoration: none;
    color: rgb(15, 15, 15);
    font-weight: 500;
}

a:hover {
    color: grey;
    transition: .5s;

}


ul {
    list-style-type: none;
}

.ui-menu {
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid black;
    max-width: 30.5%;
    padding-left: 0;
}

.ui-menu-item-wrapper {
    border-bottom: 1px solid rgb(221, 218, 218);
    padding: 1em;
    cursor: pointer;
}

.ui-menu-item-wrapper:hover {
    background-color: rgb(223, 222, 222);
}

.ui-helper-hidden-accessible {
    display: none;
}
